@import '../../../styles/vars.scss';

#Footer {
  min-height: 35vh;
  background: $darkGrey;
  justify-content: center;
  align-items: center;
  color: $lightGrey;
  a {
    color: $lightGrey;
    &:hover {
      color: $mainColorLight;
    }
  }
  hr {
    background-color: rgba(255, 255, 255, 0.5);
  }
  @media (max-width: 767.98px) {
    h3 {
      padding-top: 1rem !important;
    }
  }
}
