@import '../../../styles/vars.scss';

#Cover {
  height: 100vh;
  background-image: url($coverImage);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  @media (max-width: 767.98px) {
    background-image: url($coverImageMobile);
  }
  .colorful-button {
    width: 250px;
    margin-left: 125px;
    font-size: 20px !important;
    cursor: pointer;
    letter-spacing: 1px;
    @media (max-width: 767.98px) {
      margin-left: 0;
    }
  }

}
