@import './vars.scss';

* {
  font-family: 'Yusei Magic', sans-serif;
}

h1, h2 {
  font-weight: bold;
}

.main-color {
  color: $mainColor;
}

.main-color-text {
  color: $mainColorText;
  @media (max-width: 767.98px) {
    color: $white;
    text-shadow: 1px 1px 1px black;
  }
}

.btn-secondary {
  background: linear-gradient(40deg, $mainColor, $mainColorLight);
  border-radius: 25px !important;
  border: 0 !important;
  padding: 10px 40px !important;
  color: $white;
  &:hover {
    background-color: $mainColorLight !important;
    color: black !important;
    transition: all 300ms ease 0ms;
    &:after {
      line-height: 1em;
      opacity: 1;
      text-shadow: none;
    }
  }
}
