/* This file should be split into multiple if the app is going to grow */

////////////
// COLORS //
////////////

$darkGrey: #282c34;
$lightGrey: #9a9a9a;
$white: #fff;
$mainColor: #8700ff;
$mainColorLight: #a23fff;

////////////
// IMAGES //
////////////

$coverImage: './assets/cover1.jpg';
