/* This file should be split into multiple if the app is going to grow */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

////////////
// COLORS //
////////////

$darkGrey: #282c34;
$lightGrey: #9a9a9a;
$white: #fff;
$mainColor: #8700ff;
$mainColorLight: #a23fff;
$mainColorText: #3f205e;
$shadowGrey: #0000004d;

////////////
// IMAGES //
////////////

$coverImage: './assets/cover1.jpg';
$coverImageMobile: './assets/cover1_mobile.jpg';
$backgroundPattern: '../../assets/bush.png';
